Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
#Answer

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

                      -------------------------------------------------------------------

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
#Answer

import pandas as pd

variable = [1,5,5,41,6,4,2,4,4,8]
series = pd.Series(variable)
print(series)

0     1
1     5
2     5
3    41
4     6
5     4
6     2
7     4
8     4
9     8
dtype: int64

                      -------------------------------------------------------------------

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [11]:
#Answer

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

                      -------------------------------------------------------------------

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#Answer

In Pandas, a DataFrame is a two-dimensional labeled data structure that represents a tabular data object. It is similar to a table in a relational database or a spreadsheet, where data is organized in rows and columns. The DataFrame allows for easy manipulation, analysis, and transformation of data.

A DataFrame can be thought of as a collection of Pandas Series objects. Each column in a DataFrame is a Series, and the columns share a common index. This means that a DataFrame can store and handle multiple types of data, including numeric, string, and categorical data.

In [12]:
#Example


import pandas as pd

# Creating a Series
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

# Creating a DataFrame
data = {
    'Numbers': [4, 8, 15, 16, 23, 42],
    'Letters': ['A', 'B', 'C', 'D', 'E', 'F']
}
df = pd.DataFrame(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
   Numbers Letters
0        4       A
1        8       B
2       15       C
3       16       D
4       23       E
5       42       F

So, the key difference is that a Series is a one-dimensional data structure, whereas a DataFrame is a two-dimensional data structure that consists of multiple Series arranged in columns. The DataFrame provides more flexibility and functionality for handling and analyzing structured data.

                      -------------------------------------------------------------------

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

#Answer

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

1. head() and tail(): These functions allow you to view the first few rows (head) or the last few rows (tail) of a DataFrame. They are useful for quickly inspecting the structure and contents of a DataFrame.

2. info(): The info() function provides a summary of the DataFrame, including the data types, non-null counts, and memory usage. It helps in understanding the overall structure and characteristics of the DataFrame.

3. describe(): The describe() function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It provides insights into the distribution and summary statistics of numerical columns.

4. shape: The shape attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It is useful to quickly check the size of the DataFrame.

5. loc[] and iloc[]: These are indexing functions used to access and manipulate specific rows and columns of a DataFrame. loc[] is label-based indexing, whereas iloc[] is integer-based indexing.

6. drop(): The drop() function allows you to remove rows or columns from a DataFrame. It is useful when you want to eliminate unnecessary data or handle missing values.

7. fillna(): The fillna() function is used to fill missing values in a DataFrame with a specified value or using various filling strategies, such as forward-fill or backward-fill.

8. sort_values(): The sort_values() function sorts the DataFrame based on one or more columns. It is useful for arranging the data in a specific order, such as sorting by a numerical column or sorting alphabetically by a string column.

9. groupby(): The groupby() function is used for grouping data based on one or more columns. It allows you to perform aggregations, transformations, or analysis on subsets of data.

10. merge(): The merge() function is used to combine multiple DataFrames based on a common column or index. It is useful when you need to merge data from different sources or perform relational-style database joins.

In [13]:
import pandas as pd

data = {
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Category': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Sales': [100, 200, 150, 300, 120, 250]
}

df = pd.DataFrame(data)
total_sales = df.groupby('Category')['Sales'].sum()
print(total_sales)

Category
X    370
Y    750
Name: Sales, dtype: int64

                       -------------------------------------------------------------------

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#Answer

Among the options given, both Series and DataFrame are mutable in nature, while Panel is not. 

1. Series: A Series in Pandas is mutable, meaning you can modify its values, add or remove elements, or change its properties after it has been created. For example, you can update a specific value in a Series by accessing its index and assigning a new value.

2. DataFrame: Similarly, a DataFrame in Pandas is also mutable. You can modify its data, add or remove rows and columns, change column names, and perform various data manipulation operations. You can update values in specific cells, append or delete rows, and perform other modifications to the DataFrame.

3. Panel: A Panel in Pandas is an n-dimensional data structure, similar to a three-dimensional array. However, Panels have been deprecated since Pandas version 0.20.0 and are no longer recommended for use. Panels were mutable, but due to limited usage and the introduction of more flexible data structures like Series and DataFrame, Panels have been phased out. As a result, Panels are not recommended for new projects, and the DataFrame is generally used for handling multidimensional data.

To summarize, both Series and DataFrame are mutable in nature, while Panel is no longer recommended and is considered deprecated.

                        -------------------------------------------------------------------

Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame using multiple Series by combining them using the `pd.concat()` function or by passing them as a dictionary to the `pd.DataFrame()` constructor. Here's an example of creating a DataFrame using multiple Series:

In [14]:
import pandas as pd

# Create the Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

                        -------------------------------------------------------------------